<!DOCTYPE html>
<html>
<head>
	<title>blogz!</title>
</head>
<body>
  <h1><a href="/">blogz</a></h1>
  <% if current_user %>
    You are logged in as <%= current_user.username %><br/>
    <a href="/logout">Click here to logout</a><br/
  <% else %>
    <a href="/login">Click here to login!</a><br/>
    <a href="/register">Click here to register!</a><br/>
  <% end %>
	<% if flash[:notice] %>
    <div class="flash notice">
      <%=flash[:notice] %>
    </div>
	<% end %>
	<% if flash[:alert] %>
  	<div class="flash alert">
      <%=flash[:alert] %>
  	</div>
	<% end %>
  <br/>
	<%=yield %>
</body>
</html>